.box{
    height: 100px;
    width: 100px;
    background-color: black;
}
.count p{
font-weight: bold;
}
.buttons button{
height: 40px;
width: 80px;
border-radius: 10px;
border: none;
}
.buttons{
    display: flex;
    gap: 50px;
}
.buttons :hover{
    background-color: grey;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}